@import url('https://fonts.cdnfonts.com/css/isidora-soft-alt');

:root {
  --font-primary: "poster", sans-serif;
  --font-secundary: "Isidora";
}

body, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.content {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* HEADER */
.header {
  z-index: 9;
  position: relative;
}
@media(min-width: 768px) {
  .header {
    padding-top: 90px;
  }
}
@media(max-width: 767px) {
  .header {
    padding-top: 20px;
  }
}

@media(max-width: 767px) {
  .header-columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media(min-width: 768px) {
  .header .menu-items {
    display: flex;
    align-items: center;
  }
}
@media(min-width: 1100px) {
  .header .menu-items {
    gap: 70px;
    justify-content: center;
  }
}
@media(min-width: 768px) and (max-width: 1099px) {
  .header .menu-items {
    gap: 30px;
    justify-content: space-between;
  }
}

.header .menu-item__title {
  font-size: 18px;
  line-height: 20px;
  font-family: var(--font-secundary);
  font-weight: 700;
  color: rgba(13, 38, 34, 1);
  border-bottom: 2px solid transparent;
  transition: .2s linear;
}

@media(max-width: 767px) {
  .header .menu-item__title {
    padding-bottom: 20px;
    display: block;
  }
}

@media(min-width: 768px) {
  .header .menu-item__title {
    text-align: center;
    display: block;
  }

  .header .menu-item__title:hover {
    border-bottom: 2px solid rgba(13, 38, 34, 1);
  }
}

@media(min-width: 768px) {
  .header-menu {
    display: none;
  }
}

@media(max-width: 767px) {
  .header-menu {
    background: transparent;
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: .2s linear;
    cursor: pointer;
    z-index: 9;
  }

  .header-menu:after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    border-radius: 0.2rem;
    background: currentColor;
    box-shadow: 0 6px currentColor,0 -6px currentColor;
    transition: .2s linear;
  }

  .header-menu.active:after {
    transform: rotate(90deg);
    width: 4px;
    height: 4px;
    box-shadow: 0 8px currentColor,0 -8px currentColor;
  }

  .header .header-columns .menu {
    opacity: 0;
    visibility: hidden;
    background:#ead88f;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    transition: 0.2s linear;
    padding: 100px 20px 20px 20px;
  }

  .header .header-columns .menu.menu-open {
    opacity: 1;
    visibility: visible;
  }

  .menu-item__logo {
    display: none;
  }
}

@media(min-width: 768px) {
  .header-logo__image {
    width: 100%;
    max-width: 251px;
  }
}

@media(max-width: 767px) {
  .header-logo__image {
    width: 100%;
    max-width: 150px;
  }
}

/* BANNER PRINCIPAL */
.banner-main {
  background: url("../img/background-main.gif");
  background-repeat: no-repeat;
}
@media(min-width: 768px) {
  .banner-main {
    margin-top: -228px;
    background-size: cover;
    padding-top: 1045px;
    background-position: bottom;
  }
}
@media(max-width: 767px) {
  .banner-main {
    margin-top: -105px;
    background-size: cover;
    padding-top: 400px;
    background-position: bottom;
  }
}

@media(min-width: 768px) {
  .header-logo {
    display: none;
  }
}

/* INGREDIENTES */
.banner-two {
  background: url("../img/background-two2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
@media(max-width: 767px) {
  .banner-two {
    margin-top: -25px;
  }
}
@media(min-width: 768px) {
  .banner-two {
    margin-top: -55px;
  }
}

.banner-two {
  padding-top: 80px;
  padding-bottom: 100px;
}

@media(min-width: 768px) {
  .banner-two__ingredientes {
    text-align: center;
    margin-left: 500px;
    margin-top: 85px;
  }
}
@media(max-width: 767px) {
  .banner-two__ingredientes {
    text-align: right;
    margin-top: 15px;
  }

  .banner-two__ingredientes svg {
    max-width: 150px;
  }
}

.banner-two__ingred {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}
@media(min-width: 768px) {
  .banner-two__ingred {
    margin-top: -140px;
  }
}
@media(max-width: 767px) {
  .banner-two__ingred {
    margin-top: -40px;
  }
}

.banner-two__title {
  color: #DFA839;
  font-family: var(--font-primary);
  font-weight: 400;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
@media(min-width: 768px) {
  .banner-two__title {
    font-size: 72px;
    line-height: 76px;
  }
}
@media(max-width: 767px) {
  .banner-two__title {
    font-size: 32px;
    line-height: 36px;
  }
}

.banner-two__text {
  color: #233E32;
  font-family: var(--font-secundary);
  font-weight: 600;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
@media(min-width: 768px) {
  .banner-two__text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media(max-width: 767px) {
  .banner-two__text {
    font-size: 14px;
    line-height: 20px;
  }
}

/* ABOUT */
.about {
  background: url("../img/background-about.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: -60px;
  z-index: -1;
  position: relative;
}

@media(min-width: 768px) {
  .about {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media(max-width: 767px) {
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.about .content {
  display: flex;
}
@media(min-width: 768px) {
  .about .content {
    align-items: center;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .about .content {
    flex-direction: column;
    gap: 30px;
  }
}

@media(min-width: 1100px) {
  .about .content {
    gap: 100px;
  }
}

.about-description {
  max-width: 450px;
}

@media(min-width: 768px) {
  .about-description {
    margin-left: 50px;
  }
}

.about-title {
  color: #F2AC28;
  font-family: var(--font-primary);
  font-weight: 400;
}
@media(min-width: 768px) {
  .about-title {
    font-size: 56px;
    line-height: 60px;
    padding-bottom: 60px;
  }
}
@media(max-width: 767px) {
  .about-title {
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 30px;
  }
}

.about-text {
  color: #F5E5CC;
  font-family: var(--font-secundary);
  font-weight: 600;
}
@media(min-width: 768px) {
  .about-text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media(max-width: 767px) {
  .about-text {
    font-size: 14px;
    line-height: 20px;
  }
}

.about-image {
  width: 100%;
  max-width: 731px;
}
@media(max-width: 767px) {
  .about-image {
    margin: 0 auto;
    display: block;
  }
}

/* PRODUTOS */
.products {
  background: url("../img/background-products.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: -50px;
}

@media(min-width: 768px) {
  .products {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
@media(max-width: 767px) {
  .products {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.products-title {
  color: #1F3B30;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: 400;
  max-width: 690px;
  margin: 0 auto;
}
@media(min-width: 768px) {
  .products-title {
    font-size: 64px;
    line-height: 68px;
    padding-bottom: 90px;
  }
}
@media(max-width: 767px) {
  .products-title {
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 30px;
  }
}

.products-items {
  display: grid;
}
@media(min-width: 768px) {
  .products-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 930px;
    margin: 0 auto 85px auto;
  }
}
@media(max-width: 767px) {
  .products-items {
    gap: 15px;
  }
}

.product-image {
  width: 100%;
  margin-bottom: -15px;
}

.product-title {
  border-radius: 0 0 8px 8px;
  background: #ECDABD;
  color: #233E32;
  font-family: var(--font-secundary);
  font-weight: 700;
  text-align: center;
  padding: 47px 32px 32px;
}
@media(min-width: 768px) {
  .product-title {
    font-size: 28px;
  }
}
@media(max-width: 767px) {
  .product-title {
    font-size: 18px;
    line-height: 20px;
  }
}

/* STORES */
.stores {
  background: url("../img/background-stores.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: -2px;
}
@media(min-width: 768px) {
  .stores {
    padding-bottom: 340px;
  }
}
@media(max-width: 767px) {
  .stores {
    padding-bottom: 260px;
  }
}

@media(min-width: 768px) {
  .stores .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media(min-width: 1100px) {
  .stores-column {
    max-width: 700px;
  }
}
@media(min-width: 768px) and (max-width: 1099px) {
  .stores-column {
    max-width: 550px;
  }
}

.stores-carousel {
  position: relative;
}

.stores-carousel:before {
  background: linear-gradient(90deg, #F2AC28 -8.43%, rgba(242, 172, 40, 0.00) 68.76%);
  z-index: 9;
  content: "";
  position: absolute;
  left: 0;
  width: 25%;
  height: 100%;
  top: 0;
}

.stores-carousel:after {
  background: linear-gradient(-90deg, #F2AC28 -8.43%, rgba(242, 172, 40, 0.00) 68.76%);
  z-index: 9;
  content: "";
  position: absolute;
  right: 0;
  width: 30%;
  height: 100%;
  top: 0;
}

.stores-carousel .slick-track {
  display: flex;
  align-items: center;
}

.stores-carousel .stores-carousel__image {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
}

.stores-image {
  width: 100%;
  display: block;
}
@media(min-width: 768px) {
  .stores-image {
    margin: 0 0 0 auto;
  }
}
@media(max-width: 767px) {
  .stores-image {
    margin: 30px auto 0 auto;
    max-height: 370px;
    object-fit: contain;
  }
}


.stores-title {
  color: #1F3B30;
  font-family: var(--font-primary);
  font-weight: 400;
}
@media(min-width: 768px) {
  .stores-title {
    font-size: 56px;
    line-height: 60px;
    padding-bottom: 80px;
  }
}
@media(max-width: 767px) {
  .stores-title {
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 30px;
    text-align: center;
  }
}

/* REVENDEDOR */
.revendedor {
  background: #233E32;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -180px;
  position: relative;
}
@media(min-width: 768px) {
  .revendedor {
    gap: 10px;
    width: calc(100% - 30px);
  }
}
@media(max-width: 767px) {
  .revendedor {
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
  }
}
@media(min-width: 1100px) {
  .revendedor {
    padding: 85px 20% 85px 100px;
  }
}
@media(min-width: 768px) and (max-width: 1099px) {
  .revendedor {
    padding: 85px 15% 85px 100px;
  }
}

.revendedor-column {
  width: 100%;
  max-width: 570px;
}

.revendeedor-title {
  color: #F5E2C5;
  font-weight: 400;
  font-family: var(--font-primary);
  padding-bottom: 20px;
}
@media(min-width: 768px) {
  .revendeedor-title {
    font-size: 48px;
    line-height: 50px;
  }
}
@media(max-width: 767px) {
  .revendeedor-title {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }
}

.revendedor-text {
  color: #D9CCB2;
  font-family: var(--font-secundary);
  font-weight: 600;
}
@media(min-width: 768px) {
  .revendedor-text {
    font-size: 17px;
    line-height: 24px;
  }
}
@media(max-width: 767px) {
  .revendedor-text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}

.revendedor-whatsapp {
  background: #29CF59;
  color: #193631;
  font-family: var(--font-secundary);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: .2s linear;
  text-align: center;
}
@media(min-width: 768px) {
  .revendedor-whatsapp {
    font-size: 20px;
    padding: 30px 35px;
  }
}
@media(max-width: 767px) {
  .revendedor-whatsapp {
    font-size: 14px;
    padding: 15px;
  }
}

.revendedor-whatsapp:hover {
  opacity: .8;
}

@media(min-width: 768px) {
  .revendedor-image {
    width: 20%;
    max-width: 270px;
    position: absolute;
    right: -40px;
    bottom: -45px;
  }
}
@media(max-width: 767px) {
  .revendedor-image {
    display: none;
  }
}

/* INSTAGRAM */
.instagram {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media(min-width: 768px) {
  .instagram {
    padding-top: 135px;
    padding-bottom: 180px;
  }
}
@media(max-width: 767px) {
  .instagram {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.instagram .instagram-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media(min-width: 768px) {
  .instagram .instagram-top {
    padding-bottom: 75px;
  }
}
@media(max-width: 767px) {
  .instagram .instagram-top {
    padding-bottom: 30px;
  }
}

.instagram-title {
  font-family: var(--font-primary);
  color: #1F3B30;
  font-weight: 400;
}
@media(min-width: 768px) {
  .instagram-title {
    font-size: 56px;
    line-height: 60px;
  }
}
@media(max-width: 767px) {
  .instagram-title {
    font-size: 24px;
    line-height: 26px;
  }
}

.instagram-button {
  background: #40813B;
  color: #FEFDDC;
  font-family: var(--font-secundary);
  font-weight: 700;
  padding: 12px 32px;
  transition: .2s linear;
  min-width: 135px;
  text-align: center;
}
@media(min-width: 768px) {
  .instagram-button {
    font-size: 18px;
  }
}
@media(max-width: 767px) {
  .instagram-button  {
    font-size: 14px;
  }
}

.instagram-button:hover {
  background: rgba(31, 59, 48, 1);
}

.instagram-flex {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media(max-width: 767px) {
  .instagram-flex {
    flex-direction: column;
    gap: 20px;
  }
}

@media(min-width: 768px) {
  .instagram-image__large {
    width: 50%;
  }

  .instagram-image__large img {
    max-height: 600px;
    object-fit: cover;
    border-radius: 5px;
  }

  .instagram-grid {
    width: 50%;
  }
}

@media(max-width: 767px) {
  .instagram-image__large img {
    object-fit: cover;
    border-radius: 5px;
  }
}

.instagram-grid {
  display: grid;
  gap: 20px;
}

.instagram-grid__href:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.instagram-grid__href:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.instagram-grid__href:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}
.instagram-grid__href:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.instagram-grid__href {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.instagram-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.instagram-grid__image, .instagram-image__large img {
  width: 100%;
  display: block;
}

.instagram-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
@media(max-width: 767px) {
  .instagram-bottom {
    justify-content: center;
  }
}

.instagram-text {
  font-size: 14px;
  color: #193631;
  font-family: var(--font-secundary);
  font-weight: 600;
}

.instagram-image {
  max-width: 40px;
  border-radius: 50%;
}

/* FOOTER */
.footer {
  background: rgba(35, 62, 50, 1);
  background-image: url("../img/footer.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  display: flex;
}

@media(min-width: 768px) {
  .footer {
    height: 283px;
  }
}

@media(min-width: 768px) {
  .footer .content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    position: relative;
    margin-bottom: -1px;
  }
}

@media(min-width: 768px) {
  .footer-logo__image {
    z-index: 9;
    width: 20%;
    max-width: 294px;
  }

  .footer-image {
    z-index: 9;
    width: 18%;
    max-width: 260px;
  }
}
@media(max-width: 767px) {
  .footer-logo__image {
    margin: 0 auto;
    display: block;
    margin-top: -20px;
    max-width: 150px;
  }

  .footer-image {
    display: none;
  }
}

.footer-menu {
  margin: 45px 0;
  align-self: center;
}

.footer .footer-menu__title {
  font-size: 18px;
  color: rgba(242, 172, 40, 1);
  font-family: var(--font-secundary);
  font-weight: 700;
  padding-bottom: 10px;
}

.footer .footer-menu__href {
  font-size: 18px;
  color: #FEFDDC;
  font-family: var(--font-secundary);
  font-weight: 500;
  display: block;
  transition: .2s linear;
  border-bottom: 2px solid transparent;
}

.footer .footer-menu__href:hover {
  border-bottom: 2px solid  #FEFDDC;
}

.footer .footer-menu__wpp {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}